@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
$lightGrey: rgb(241, 241, 241);

* {
	margin: 0;
	background: white;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans';
}

@mixin flexbox($flexDirection, $justifyContent, $alignItems) {
	display: flex;
	flex-direction: $flexDirection;
	justify-content: $justifyContent;
	align-items: $alignItems;
}

.title {
	width: 100%;
	background: black;
	padding: 1rem 2rem;
	color: white;
	font-size: 1.6rem;
	@include flexbox(row, center, center);
	text-align: center;
}

.links-container {
	margin: 1.3rem;
	@include flexbox(column, flex-start, stretch);
	.link-container {
		background: $lightGrey;
		font-family: 'Noto Sans';
		font-size: 1rem;
		@include flexbox(row, space-between, center);
		padding: 0.7rem;
		margin-bottom: 1rem;
		cursor: pointer;
		border-radius: 0.6rem;
		transition: 0.3s ease-in;
		position: relative;
		&::before {
			transition: 0.3s ease-in;
		}
		.info-container {
			@include flexbox(row, flex-start, center);
			.img-container {
				@include flexbox(row, center, center);
				padding: 0.4rem;
				background: $lightGrey;
				img {
					background: $lightGrey;
					height: 1.5rem;
					border-radius: 0.3rem;
				}
			}
			p {
				margin-left: 0.3rem;
				margin-right: 5rem;
				font-family: 'Noto Sans';
				text-decoration: none;
				background: $lightGrey;
				color: black;
				font-size: 1.3rem;
				font-weight: 300;
			}
			background: $lightGrey;
		}
		.action-container {
			background: $lightGrey;
			@include flexbox(row, center, center);
			.img-container {
				@include flexbox(row, center, center);
				background: $lightGrey;
			}
			img {
				height: 1.4rem;
				background: $lightGrey;
				margin-left: 0.4rem;
				position: relative;
				transition: 0.1s ease-in;
				&:hover {
					transform: scale(1.2);
				}
			}
			a {
				background: $lightGrey;
				transition: 0.1s ease-in;
			}
		}
		&.clicked {
			&::before {
				position: absolute;
				content: 'Copied to clipboard';
				top: 0;
				left: 0;
				width: 100%;
				border-radius: 0.6rem;
				@include flexbox(row, center, center);
				height: 100%;
				background: rgba(0, 0, 0, 0.3);
				color: white;
				font-size: 1.1rem;
				z-index: 2;
				backdrop-filter: blur(2px);
			}
		}
	}
}

.primary-button {
	padding: 1rem 1.4rem;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background: #000;
	border: none;
	outline: none;
}

.link-form {
	@include flexbox(column, start, stretch);
	padding: 1rem;
	background: #ddd;
	margin-top: 2rem;
}

.link-input {
	background: inherit;
	margin-bottom: 0.7rem;
	@include flexbox(column, start, start);
	label {
		background: inherit;
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: 0.2rem;
	}
	input {
		width: 100%;
		padding: 0.5rem;
		border: none;
		background: #fff;
		border-radius: 0.3rem;
		outline: none;
	}
}
